<html>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>
</head>

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<link href="../static/site.css" rel="stylesheet" type="text/css" />
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../static/js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>

<body class="body">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.stargazer.pw">Stargazer: Map Analytics in Starcraft II</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.slideshare.net/gy8/map-analytics-in-starcraft-ii-44376933">Presentation</a></li>
        <li><a href="http://www5.decf.berkeley.edu/~gyang/">Guang Yang</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <body>
  <div class="container-fluid">
    <!-- Graph and Inputs for Graph -->
    <div class="row">
      <!-- Noice Spacing -->
      <div class="col-md-1">
      </div>
      <div class="col-md-8">
        <div id="duration_by_time" style="height:350"></div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="yolo">Map Name:</label>
          <input id="map_name">
        </div>
        <select id="query_type" class="form-control">
          <option value="duration">duration</option>
          <option value="winrate">win rate</option>
        </select>
        <br>
        <button class="btn" id="submit_data">Go</button>
      </div>
    </div>

    <!-- Top 10 Maps -->
    <div class="row">
    Most Popular Maps:
      <div class="col-md-12">

        <!-- Noice Spacing -->
        <div class="col-md-1">
        </div>

        <!-- Map num 0 -->
        <div class="col-md-2">
        {{top_10['num0']['map_name']}}
        <br>
        {{top_10['num0']['match_count']}}
        <br>
        <embed src={{top_10['num0']['map_url']}} width="200px">
        </div>

        <!-- Map num 1 -->
        <div class="col-md-2">
        {{top_10['num1']['map_name']}}
        <br>
        {{top_10['num1']['match_count']}}
        <br>
        <embed src={{top_10['num1']['map_url']}} width="200px">
        </div>

        <!-- Map num 2 -->
        <div class="col-md-2">
        {{top_10['num2']['map_name']}}
        <br>
        {{top_10['num2']['match_count']}}
        <br>
        <embed src={{top_10['num2']['map_url']}} width="200px">
        </div>

        <!-- Map num 3 -->
        <div class="col-md-2">
        {{top_10['num3']['map_name']}}
        <br>
        {{top_10['num3']['match_count']}}
        <br>
        <embed src={{top_10['num3']['map_url']}} width="200px">
        </div>

        <!-- Map num 4 -->
        <div class="col-md-2">
        {{top_10['num4']['map_name']}}
        <br>
        {{top_10['num4']['match_count']}}
        <br>
        <embed src={{top_10['num4']['map_url']}} width="200px">
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <!-- Noice Spacing -->
        <div class="col-md-1">
        </div>

        <!-- Map num 5 -->
        <div class="col-md-2">
        {{top_10['num5']['map_name']}}
        <br>
        {{top_10['num5']['match_count']}}
        <br>
        <embed src={{top_10['num5']['map_url']}} width="200px">
        </div>


        <!-- Map num 6 -->
        <div class="col-md-2">
        {{top_10['num6']['map_name']}}
        <br>
        {{top_10['num6']['match_count']}}
        <br>
        <embed src={{top_10['num6']['map_url']}} width="200px">
        </div>

        <!-- Map num 7 -->
        <div class="col-md-2">
        {{top_10['num7']['map_name']}}
        <br>
        {{top_10['num7']['match_count']}}
        <br>
        <embed src={{top_10['num7']['map_url']}} width="200px">
        </div>

        <!-- Map num 8 -->
        <div class="col-md-2">
        {{top_10['num8']['map_name']}}
        <br>
        {{top_10['num8']['match_count']}}
        <br>
        <embed src={{top_10['num8']['map_url']}} width="200px">
        </div>

        <!-- Map num 9 -->
        <div class="col-md-2">
        {{top_10['num9']['map_name']}}
        <br>
        {{top_10['num9']['match_count']}}
        <br>
        <embed src={{top_10['num9']['map_url']}} width="200px">
        </div>


      </div>
      <div>

      </div>
    </div>

  </div>



  </body>
</body>

<script src="../static/js/highcharts.js"></script>
<script src="../static/js/duration_by_time.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
</html>
